.cv-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 20px;
}

#notes-form {
    display: flex;
    flex-direction: column;
}

#notes-form label {
    font-weight: bold;
}

#notes-form input,
#notes-form textarea {
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    height: 100px;
    resize: none;
}

#notes-form input {
    height: 40px;
    resize: none;
}

#notes-form button {
    padding: 10px;
    background-color: #4f4f4f;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-bottom: 20px;
}

#notes-form button:hover {
    background-color: #050505;
}

#current-questions {
    margin: 15px 0;
    font-weight: bold;
}

#messages-container {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#messages-container div {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    display: grid;
    grid-template-areas:
        "name delete"
        "message message";
    grid-template-columns: 1fr auto;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    word-wrap: break-word;
}

.message-text {
    grid-area: message;
    word-break: break-word;
}

#messages-container div strong {
    color: #4f4f4f;
    margin-bottom: 5px;
}

.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    grid-area: delete;
}

.delete-btn:hover {
    background-color: #050505;
}